<%= link_to "Add todo", new_todo_path %>

<ul class="todos">
    <% @todos.each do |todo| %>
        <li class="<%="completed" if todo.completed? %>">
            <%= todo.title %>
            <% button_text = todo.completed? ? "mark incomplete" : "mark complete" %>
            <%= button_to button_text, todo_completion_path(todo) %>
        </li>
    <% end %>
</ul>

    